.logoimg {
    width: 1060px;
    margin: 0 auto;
    padding-left: 40px;
    font-size: 66px;
    color: #2e5b7d;
}

.section2 {
    width: 1100px;
    padding: 90px 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.section2 img {
    margin-right: 80px;
}

.section2 p {
    line-height: 28px;
}

.bg-title {
    margin-top: 40px;
    display: inline-block;
}

.section2-title {
    font-size: 30px;
    margin-bottom: 24px;
    margin-top: 65px;
    font-weight: 500;
}

.section2-title-2 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 63px;
    font-weight: 500;
}

.section3-box {
    background: #16669e;
    color: #fff;
}

.section3 {
    width: 1100px;
    height: 467px;
    box-sizing: border-box;
    padding-top: 140px;
    padding-bottom: 140px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/yfzy_yftd.jpg) center no-repeat;
    font-size: 18px;
}

.team {
    display: inline-block;
    font-size: 40px;
    border-bottom: 1px solid #fff;
    margin-bottom: 45px;
    font-weight: normal;
}

.team-text {
    margin-bottom: 20px;
}

.section4-box {
    width: 100%;
    background: #f5f5f5;
}

.section4-box .item-warp {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.section4-box ul {
    display: flex;
    justify-content: center;
    padding-bottom: 113px;
}

.section4-box ul li {
    width: 385px;
    line-height: 25px;
    margin: 0 73.5px;
}

.section4-box .title {
    font-size: 40px;
    font-weight: 600;
    margin: 90px 0 105px;
}

.section4-box .sub-title {
    font-size: 30px;
    font-weight: 500;
    margin: 23px 0 17px;
    font-weight: normal;
}


/*移动端*/

.banner-mobile {
    width: 100%;
    height: 5.2rem;
    background: url(../images/mobile/yfzy_banner.jpg) center no-repeat;
    background-size: cover;
}

.section2-mob {
    width: 100%;
    padding: 0.76rem 0.3rem 0.37rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    font-size: 0.24rem;
}

.section2-mob img {
    width: 2.4rem;
    height: 5.94rem;
}

.section2-mob p {
    line-height: 0.4rem;
    margin-bottom: 0.5rem;
}

.section2-mob-right {
    flex: 1;
    margin-left: 0.24rem;
}

.section2-mob-right .bg-title {
    margin: 0.44rem 0 0.55rem;
    padding: 0 0.2rem;
    display: inline-block;
    background: rgb(25, 53, 133);
    color: #fff;
    font-size: 0.54rem;
}

.section2-mob-title {
    font-size: 0.3rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
}

.section3-box-mob {
    width: 100%;
    height: 4.15rem;
    background: url(../images/mobile/yfzy_02.jpg) no-repeat;
    background-size: cover;
    font-size: 0.24rem;
    color: #fff;
    box-sizing: border-box;
    padding: 1rem 0.52rem 0;
    text-align: center;
}

.section3-box-mob div {
    display: inline-block;
    border-bottom: 0.01rem solid #fff;
    padding-bottom: 0.1rem;
    margin-bottom: 0.5rem;
    font-size: 0.46rem;
}

.section3-box-mob p {
    text-indent: 0.48rem;
    line-height: 0.35rem;
}

.section4-box-mob {
    width: 100%;
    color: #666666；
}

.section4-box-mob .item-warp {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: 0.24rem;
}

.section4-box-mob ul li img {
    width: 4.7rem;
    height: 2.5rem;
}

.section4-box-mob ul li {
    line-height: 0.35rem;
    margin: 0 1.2rem 0.9rem;
    text-align: center;
}

.section4-box-mob .title {
    font-size: 0.46rem;
    font-weight: 600;
    margin: 0.7rem 0 0.8rem;
}

.section4-box-mob .sub-title {
    font-size: 0.3rem;
    font-weight: 500;
    margin: 0.5rem 0 0.25rem;
}
